<div class="card compare-chart-block">
    <h4>{{ block.title }}</h4>
    <div class="compare-grid">
        <div class="plot-card">
            <h3>{{ run_a.name }}</h3>
            {% if block.html_a %}
                <div class="plot-embed">{{ block.html_a|safe }}</div>
            {% else %}
                <div class="notice">График отсутствует.</div>
            {% endif %}
        </div>
        <div class="plot-card">
            <h3>{{ run_b.name }}</h3>
            {% if block.html_b %}
                <div class="plot-embed">{{ block.html_b|safe }}</div>
            {% else %}
                <div class="notice">График отсутствует.</div>
            {% endif %}
        </div>
    </div>
</div>