{% load recoil_extras %}

<div class="compare-subsection">
    <h4>Фаза отката</h4>
    {% if phase_analysis.recoil.available %}
        <table class="info-table">
            <tbody>
                <tr><th>Начало, индекс</th><td>{{ phase_analysis.recoil.start_index }}</td></tr>
                <tr><th>Конец, индекс</th><td>{{ phase_analysis.recoil.end_index }}</td></tr>
                <tr><th>Начало, время</th><td>{{ phase_analysis.recoil.start_time|fmt5 }}</td></tr>
                <tr><th>Конец, время</th><td>{{ phase_analysis.recoil.end_time|fmt5 }}</td></tr>
                <tr><th>Длительность</th><td>{{ phase_analysis.recoil.duration|fmt5 }}</td></tr>
                <tr><th>x_min</th><td>{{ phase_analysis.recoil.x_min|fmt5 }}</td></tr>
                <tr><th>x_max</th><td>{{ phase_analysis.recoil.x_max|fmt5 }}</td></tr>
                <tr><th>v_min</th><td>{{ phase_analysis.recoil.v_min|fmt5 }}</td></tr>
                <tr><th>v_max</th><td>{{ phase_analysis.recoil.v_max|fmt5 }}</td></tr>
                <tr><th>a_min</th><td>{{ phase_analysis.recoil.a_min|fmt5 }}</td></tr>
                <tr><th>a_max</th><td>{{ phase_analysis.recoil.a_max|fmt5 }}</td></tr>
                <tr><th>|v| max</th><td>{{ phase_analysis.recoil.v_abs_max|fmt5 }}</td></tr>
                <tr><th>|a| max</th><td>{{ phase_analysis.recoil.a_abs_max|fmt5 }}</td></tr>
            </tbody>
        </table>
    {% else %}
        <div class="notice">Нет данных.</div>
    {% endif %}
</div>

<div class="compare-subsection">
    <h4>Фаза наката</h4>
    {% if phase_analysis.return.available %}
        <table class="info-table">
            <tbody>
                <tr><th>Начало, индекс</th><td>{{ phase_analysis.return.start_index }}</td></tr>
                <tr><th>Конец, индекс</th><td>{{ phase_analysis.return.end_index }}</td></tr>
                <tr><th>Начало, время</th><td>{{ phase_analysis.return.start_time|fmt5 }}</td></tr>
                <tr><th>Конец, время</th><td>{{ phase_analysis.return.end_time|fmt5 }}</td></tr>
                <tr><th>Длительность</th><td>{{ phase_analysis.return.duration|fmt5 }}</td></tr>
                <tr><th>x_min</th><td>{{ phase_analysis.return.x_min|fmt5 }}</td></tr>
                <tr><th>x_max</th><td>{{ phase_analysis.return.x_max|fmt5 }}</td></tr>
                <tr><th>v_min</th><td>{{ phase_analysis.return.v_min|fmt5 }}</td></tr>
                <tr><th>v_max</th><td>{{ phase_analysis.return.v_max|fmt5 }}</td></tr>
                <tr><th>a_min</th><td>{{ phase_analysis.return.a_min|fmt5 }}</td></tr>
                <tr><th>a_max</th><td>{{ phase_analysis.return.a_max|fmt5 }}</td></tr>
                <tr><th>|v| max</th><td>{{ phase_analysis.return.v_abs_max|fmt5 }}</td></tr>
                <tr><th>|a| max</th><td>{{ phase_analysis.return.a_abs_max|fmt5 }}</td></tr>
            </tbody>
        </table>
    {% else %}
        <div class="notice">Нет данных.</div>
    {% endif %}
</div>