{% load recoil_extras %}

<table class="info-table">
    <tbody>
        <tr><th>Максимальный путь отката</th><td>{{ run.x_max|fmt5 }} м</td></tr>
        <tr><th>Максимальная скорость</th><td>{{ run.v_max|fmt5 }} м/с</td></tr>
        <tr><th>Точка остановки</th><td>{{ run.x_final|fmt5 }} м</td></tr>
        <tr><th>Конечная скорость</th><td>{{ run.v_final|fmt5 }} м/с</td></tr>
        <tr><th>Конечное ускорение</th><td>{{ run.a_final|fmt5 }} м/с²</td></tr>
        <tr><th>Время отката</th><td>{{ run.recoil_end_time|fmt5 }} с</td></tr>
        <tr><th>Возврат в x=0</th><td>{{ run.return_end_time|fmt5 }} с</td></tr>
    </tbody>
</table>